<div class="content" role="main">
  <!-- Links -->
  <div class="card-container">
    <a class="circle-link" title="Join Facebook" href="https://www.facebook.com/joabehenriquee" target="_blank">
      <img width="32" height="32" src="../assets/img/facebook.svg">
    </a>
    <a class="circle-link" title="Join Linkedin" width="26" height="26"
      href="https://www.linkedin.com/in/joabehenrique/" target="_blank">
      <img width="32" height="32" src="../assets/img/linkedin.svg">
    </a>
    <a class="circle-link" title="Join Github" width="26" height="26" href="https://github.com/joabehenrique"
      target="_blank">
      <img width="32" height="32" src="../assets/img/github.svg">
    </a>
    <a class="circle-link" title="Join Telegram" width="26" height="26" href="https://t.me/joabehenriquee"
      target="_blank">
      <img width="32" height="32" src="../assets/img/telegram.svg">
    </a>
    <a class="circle-link" title="Join Outlook" width="26" height="26" href="mailto:henriquecidoz@hotmail.com"
      target="_blank">
      <img width="32" height="32" src="../assets/img/outlook.svg">
    </a>
  </div>
  <!--Image Working-->
  <div class="card-container">
    <img class="img-responsive" src="../assets/img/working.svg">
  </div>
  <div class="card-container">
    <h4>Woking..</h4>
  </div>
</div>